@if (product$ | async; as product) {  
  <div class="py-8 md:py-16">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
      <h2 class="text-2xl max-md:text-xl font-semibold text-[var(--gunmetal)]">Detalles del producto:</h2>  

      <div class="flex flex-col lg:flex-row lg:gap-8 xl:gap-16 items-start mt-4 sm:mt-6">   
        <!-- Img -->
        <div class="flex gap-6 max-w-lg lg:max-w-xl mx-auto flex-1">
          <div class="flex flex-col gap-3 w-20">
            @for (thumb of product.images; track $index) {
              <img [src]="thumb" [alt]="product.title" (click)="onSelectImage(thumb)" class="w-20 h-20 object-cover p-2 bg-white border rounded cursor-pointer transition-colors duration-200 hover:border-[var(--burnt-sienna)] drop-shadow-md" [ngClass]="{ 'border-[var(--burnt-sienna)]': selectedImg === thumb, 'border-[var(--gunmetal)]': selectedImg !== thumb }">
            }
          </div>
          <div class="flex flex-col flex-1">
            <div class="relative overflow-hidden rounded bg-white border border-[var(--gunmetal)] p-4 drop-shadow-md">
              @if (prevImg) {
                <img [src]="prevImg" alt="" class="absolute inset-0 w-full h-full object-contain transition-opacity duration-1000 opacity-0">
              }
              <app-img-magnifier class="w-full h-full object-contain transition-opacity duration-500 opacity-100" [src]="selectedImg || product.images[0]" [alt]="product.title" [zoom]="2"></app-img-magnifier>
            </div>
            <p class="mt-4 text-center text-base xl:text-lg max-sm:text-sm font-medium text-[var(--gunmetal)] txt-shadow-white">{{ product.description }}</p>
          </div>
        </div>
        <!-- Info -->
        <div class="w-full max-w-[665px] mt-6 sm:mt-8 lg:mt-0 p-4 rounded bg-white text-[var(--gunmetal)] border border-[var(--gunmetal)] cursor-default shadow-md max-lg:max-w-full">
          <div class="flex items-center justify-between">
            <div class="flex flex-wrap items-baseline gap-2 text-2xl font-semibold text-[var(--gunmetal)] max-lg:text-lg leading-tight">
              <span>{{ product.title }}</span>
              <span class="text-xs text-gray-500 font-normal whitespace-nowrap">({{ product.brand || 'Sin marca' }})</span>
            </div>

            <button (click)="addToFavs()" [ngClass]="{'text-red-500': isFav && user, 'text-gray-400': !isFav || !user}" class="text-xl max-lg:text-lg hover:text-red-500 transition-colors cursor-pointer ml-2" [title]="!isFav ? 'Agregado a Favoritos' : 'Agregar a Favoritos'">
              <i class="fa-solid fa-heart"></i>
            </button>  
          </div>

          <div class="sm:items-center sm:gap-4 sm:flex justify-between mt-6 md:mt-8">
            <p class="font-extrabold text-[var(--gunmetal)] text-3xl max-lg:text-2xl">
              ${{ product.price | number:'1.2-2' }}<span class="text-sm font-medium text-[var(--burnt-sienna)] ml-2">-{{ product.discountPercentage }}% OFF</span>
            </p>
            <div class="flex items-center justify-end max-sm:mt-2">
              <span class="text-gray-500 text-base max-sm:text-sm font-medium mr-2">{{product.rating}}</span>
              <div class="flex items-center space-x-1 rtl:space-x-reverse">
                @for (i of stars; track i) {
                  <i class="text-lg font-hairline ml-1 max-sm:text-sm" [ngClass]="rateIcon(product.rating, i)"></i>
                }
              </div>
              <a (click)="scrollToReviews($event)" class="text-sm font-normal text-gray-500 no-underline ml-2 hover:underline cursor-pointer">{{ reviewsService.totalReviews$ | async }} Reviews</a>
            </div>    
          </div>

          <div class="mt-4 sm:items-center sm:gap-2 sm:flex flex-wrap">            
            <div class="flex items-center mt-2 space-x-4 max-lg:flex-wrap">
              <label class="text-xl max-sm:text-lg font-bold mr-2" for="quantity-value">Cantidad:</label>
              <input type="number" id="quantity-value" [min]="1" [max]="product.stock" [(ngModel)]="quantity" [value]="quantity" class="p-2 mr-0 border border-0 rounded text-md font-medium focus:ring-1 focus:ring-[var(--yinmn-blue)] focus:border-[var(--yinmn-blue)]"/>
              <span class="text-lg font-normal ml-2">{{ quantity > 1 ? 'unidades' : 'unidad' }}</span>
              <span class="m-0 text-sm text-gray-500">(+{{ product.stock }} disponibles)</span>
              
              <div class="flex items-center text-lg ml-4 xl:ml-6 leading-none max-lg:w-full max-lg:ml-0 max-lg:mt-2">
                <span class="font-medium text-gray-500"> {{ product.availabilityStatus === 'In Stock' ? 'Disponible' : product.availabilityStatus === 'Low Stock' ? 'Pocas unidades' : product.availabilityStatus === 'Out of Stock' ? 'Agotado' : '' }}</span>
                <i class="fa-solid ml-2 text-sm" [ngClass]="{ 'fa-check-circle text-green-500': product.availabilityStatus === 'In Stock', 'fa-exclamation-triangle text-yellow-500': product.availabilityStatus === 'Low Stock', 'fa-times-circle text-red-500': product.availabilityStatus === 'Out of Stock' }"></i>
              </div>
            </div>
          </div>

          <div class="flex justify-start items-center flex-wrap gap-x-6 space-y-3 my-6 md:my-7 max-sm:gap-x-4">
            <p class="w-full text-xl max-sm:text-lg font-bold">Dimensiones:</p>
            <p class="text-base text-[var(--gunmetal)] mb-0" title="Peso">
              <i class="fa-solid fa-weight-scale text-gray-400"></i>&nbsp; {{product.weight}} kg
            </p>
            <p class="text-base text-[var(--gunmetal)] mb-0" title="Ancho">
              <i class="fas fa-arrows-left-right text-gray-400"></i>&nbsp; {{product.dimensions.width}} cm
            </p>
            <p class="text-base text-[var(--gunmetal)] mb-0" title="Altura">
              <i class="fas fa-arrows-up-down text-gray-400"></i>&nbsp; {{product.dimensions.height}} cm
            </p>
            <p class="text-base text-[var(--gunmetal)] mb-0" title="Profundidad">
              <i class="fas fa-cube text-gray-400"></i>&nbsp; {{product.dimensions.depth}} cm
            </p>
          </div>

          <div class="flex flex-wrap items-center gap-x-6 space-y-3 my-6 md:my-7">
            <p class="w-full text-xl max-sm:text-lg font-bold">Fecha estimada de llegada:</p>
            <span class="text-base mb-0">
              <i class="fa-solid fa-truck-fast text-gray-400"></i>&nbsp; {{ getShippingText(product.shippingInformation) }}
            </span>
            <span class="text-base mb-0">
              <i class="fa-solid fa-shield-halved text-gray-400" title="Garantía"></i>&nbsp; {{ product.warrantyInformation }}
            </span>
          </div>

          <div class="gap-4 items-center flex mt-8 sm:mt-10">
            <button type="button" class="flex items-center py-2 px-3 text-white text-base max-md:text-sm rounded transition cursor-pointer bg-[var(--yinmn-blue)] hover:bg-[var(--yinmn-blue-shadow)] border border-[var(--yinmn-blue)]" (click)="onAddToCart(product)">Agregar al carrito &nbsp;&#xf217;</button>
            <button type="button" class="flex items-center py-2 px-3 text-[var(--gunmetal)] text-base max-md:text-sm font-medium rounded transition cursor-pointer border border-[var(--yinmn-blue)] text-[var(--yinmn-blue)] bg-white hover:bg-[var(--yinmn-blue)] hover:text-white" (click)="onPurchase(product)">Comprar &nbsp;&#xf09d;</button>
          </div>
        </div>
      </div>

      <!-- Reviews -->
       <div id="reviews-section" class="w-full mt-8 shadow-md">
        <button (click)="toggleReviews()" class="flex items-center justify-between w-full p-4 bg-white text-[var(--gunmetal)] border border-[var(--gunmetal)] rounded focus:outline-none cursor-pointer transition-colors duration-300" [ngClass]="showingReviews ? 'rounded-b-none border-b-0' : 'rounded border-b'">
          <span class="text-lg font-bold">Opiniones de este producto ({{ reviewsService.totalReviews$ | async }})</span>
          <i class="fa-solid fa-angle-down w-4 h-4 transition-transform duration-300" [class.rotate-180]="showingReviews"></i>
        </button>
        <div class="transition-all duration-500 ease-in-out overflow-hidden" [ngClass]="{ 'max-h-0 opacity-0': !showingReviews, 'max-h-[1500px] opacity-100': showingReviews }">
          <div class="px-4 pb-4 pt-0 bg-white rounded-b border border-[var(--gunmetal)] border-t-0">
            <!-- Form -->            
            <div  class="p-4 bg-[var(--light-cyan)] text-[var(--gunmetal)] rounded border border-[var(--yinmn-blue)]" [formGroup]="reviewForm">
              <label for="message" class="text-base font-medium">Escribe tu opinión:</label>
              <div class="w-full flex items-center justify-between flex-wrap mt-2">
                <textarea formControlName="comment" rows="2" placeholder="¿Qué opinas de este producto?" oninput="this.style.height='auto'; this.style.height=this.scrollHeight + 'px'" class="w-full max-w-[78%] max-xl:max-w-full block p-2 text-sm placeholder:text-gray-400 bg-white rounded border border-[var(--gunmetal)] placeholder:text-xs focus:outline-none focus:ring-blue-500 focus:border-blue-500"></textarea>
                <div class="flex items-center space-x-3 ml-2 max-xl:w-full max-xl:ml-0 max-xl:mt-4">
                  <div class="flex items-center space-x-2 mx-4 max-xl:ml-0">
                    @for (s of stars; track s) {
                      <button type="button" [title]="s + 1" (click)="selectRating(s)" class="text-lg transition duration-200" [ngClass]="{ 'text-yellow-500': s <= selectedRating, 'text-gray-400': s > selectedRating }">
                        <i class="fa-solid fa-star cursor-pointer hover:text-yellow-500"></i>
                      </button>
                    }
                  </div>
                  <button type="button" (click)="submitReview()" title="Publicar" class="bg-[var(--yinmn-blue)] text-white text-sm max-md:text-xs py-2 px-4 rounded hover:bg-[var(--yinmn-blue-shadow)] transition duration-100 cursor-pointer">
                    <i class="fa-solid fa-share-from-square"></i>
                  </button>
                </div>
              </div>
            </div>
            <!-- Cards -->
            <div class="space-y-4 mt-4">
              @for (review of reviewsService.reviews$ | async; track $index) {
                <div class="relative p-4 bg-[var(--ghost-white)] text-[var(--gunmetal)] border border-[var(--powder-blue)] rounded space-y-2 cursor-default">
                  <div class="flex flex-col">
                    <h3 class="font-medium text-base">
                      <i class="fa-solid fa-user text-gray-400"></i>&nbsp; {{ review.reviewerName }}
                      <span class="text-sm text-gray-500">{{ isOwnReview(review) ? '(Tú)' : '' }}</span>
                    </h3>
                    <span class="text-xs text-gray-400 mt-1">{{ review.reviewerEmail }}</span>
                  </div>
                  <span class="absolute top-4 right-4 text-sm text-gray-400">{{ review.date | date:'yyyy-MM-dd' }}</span>            
                 
                  <div class="flex items-center space-x-1 rtl:space-x-reverse my-3">
                    @for (i of stars; track i) {
                      <i class="text-sm font-hairline" [ngClass]="rateIcon(review.rating, i)"></i>
                    }
                    <span class="text-gray-400 text-xs ml-1 cursor-default">({{ review.rating | number:'1.2-2'}})</span> 
                  </div>
                  <div class="text-sm font-medium flex items-start gap-x-2 max-w-full">
                    <i class="fa-solid fa-comment text-gray-400 text-sm mt-[2px] shrink-0"></i>
                    <span class="break-words whitespace-normal min-w-0">{{ review.comment }}</span>
                  </div>

                  @if (isOwnReview(review)) {
                    <button (click)="deleteReview(review)" class="absolute bottom-2 right-2 text-red-500 hover:text-red-600 text-xs transition duration-200 cursor-pointer"><i class="fa-solid fa-trash"></i>&nbsp; Eliminar</button>
                  }
              </div>
              }
            </div>
          </div>
        </div>        
      </div>      
    </div>  
  </div>
}