@use "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif, FontAwesome; }

:root {
    --yinmn-blue: #3d5a80; --yinmn-blue-shadow: #5d79a1;
    --powder-blue: #98c1d9; --powder-blue-shadow: #6f98af;
    --light-cyan: #e0fbfc; --light-cyan-shadow: #aac4c5;
    --burnt-sienna: #ee6c4d; --burnt-sienna-shadow: #c84b30;
    --gunmetal: #293241; --gunmetal-shadow: #4d5667;
    --ghost-white: #F8FAFC;
}

/* Ocultar botones del input:number */
.no-spinner {
   appearance: none; -webkit-appearance: none;
   margin: 0;
}
.no-spinner::-webkit-outer-spin-button, .no-spinner::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.no-spinner[type=number] { appearance: none; -moz-appearance: textfield; }

/* Borde linear Estrellas */
.star-outline {
  -webkit-text-stroke: 1px var(--gunmetal); 
  -webkit-text-fill-color: #f59e0b; 
}

/* Activar animación solamente 1 vez */
.one-time-animation {
   animation-iteration-count: 1;
}

.txt-shadow-white { text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9); }

h2 { cursor: default; }